@tailwind base;
@tailwind components;
@tailwind utilities;


/* .active-link {
    color: dodgerblue;
    background-color:  dodgerblue;
} */
body {
    height: auto;
  }
.ql-editor{
    font-size: 1.05rem;
}